.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  margin-bottom: 4px;
  text-align: left;
}

.input {
  border: 1px solid #ccc;
  padding: 8px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  padding: 8px;
}

.input:focus {
   border: 1px solid #9c9c9c;
  box-shadow: 0 0 5px rgba(136, 136, 136, 0.5); 
}

/* Responsividade */
@media (max-width: 768px) {
  .field {
    margin-bottom: 12px;
  }

  .input {
    padding: 6px;
    font-size: 14px;
  }

  .label {
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .field {
    margin-bottom: 10px;
  }

  .input {
    width: 100%;
    font-size: 13px;
    padding: 6px;
  }

  .label {
    font-size: 12px;
  }
}



