.header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bgcolor);
  padding: 50px 64px;
  position: relative;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.leftIcons {
  display: flex;
  gap: 44px;
}

.leftIcons img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

.leftIcons img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.title {
  font-weight: 700;
  font-size: 40px;
  font-family: var(--font-playfair);
  color: var(--black);
  transform: scaleX(-1);
  font-style: italic;
  text-align: right;
}

.navList {
  display: flex;
  gap: 48px;
  list-style: none;
}

.navLink {
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  font-family: var(--font-roboto);
  text-decoration: none;
}

.navLink:hover {
  font-weight: bold;
  transition: 0.1s;
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
    padding: 12px 16px;
    gap: 20px;
  }

  .leftIcons {
    gap: 16px;
  }

  .leftIcons img {
    width: 18px;
    height: 18px;
  }

  .title {
    font-size: 24px;
  }

  .navList {
    gap: 20px;
  }

  .navLink {
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .header {
    padding: 8px 10px;
    gap: 12px;
  }

  .leftIcons {
    gap: 10px;
  }

  .leftIcons img {
    width: 16px;
    height: 16px;
  }

  .title {
    font-size: 18px;
  }

  .navList {
    gap: 12px;
  }

  .navLink {
    font-size: 12px;
  }
}

