.header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 32px;
  font-family: var(--font-comfortaa);
  color: var(--black);
}

.navList {
  display: flex;
  gap: 48px;
  list-style: none;
}

.navLink {
  font-weight: 500;
  font-size: 18px;
  color: var(--black);
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
  transition: 0.1s;
}
