.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--black3);
  color: var(--white);
  font-family: var(--font-playfair);
  font-size: 40px;
  transform: scaleX(-1);
font-style: italic;
}