:root {
  --black: #25282b;
  --black2: #2c2b2c;
  --black3: black;
  --white: #ffffff;
  --grey: #828282;
  --bgcolor: #fffdfa;
  --font-comfortaa: 'Comfortaa', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bgcolor);
  width: 100vw;
}

body {
  font-family: var(--font-nunito);
  overflow-x: hidden;
}
    